body{
    background-color:whitesmoke;
    min-height: auto;
    transition: 0.2s;
}
button {
    padding: 15px;
    background: transparent;
    color: black;
    
}
button:hover {
    background: white;
    color: #000;
    border: 3px;

}
button:active{
    padding: 5px;
}